# Vizualizace pro analytiky

## Zadání závěrečného testu

Použijte jednu nebo více knihoven (Matplotlib, Pandas nebo Seaborn). Knihovny můžete kombinovat.

### 1) Načtěte do DataFramu dataset `mpg` z knihovny Seaborn.

In [1]:
dataset = []
test = ["19"]
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

dataset = sns.load_dataset('mpg')

In [2]:
dataset.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

### 2) Vytvořte sloupec `manufacturer`, který bude obsahovat výrobce vozu - *např.: `Chevrolet`, `Buick`, `Plymouth`, apod.*

In [3]:
dataset["manufacturer"]=dataset["name"].str.split(" ").str[0].str.capitalize()

### 3) Sloupec `model_year` obsahuje poslední 2 čísla roku. Změňte data ve sloupci tak, aby obsahovala správný rok na 4 čísla. *Např.: 70 -> 1970, apod.*

### 4) Přidejte sloupec `L/100km`, kde přepočítáte spotřebu auta z MPG (miles per US gallon) na L/100km

Použijte následující vzorec:

$$
L/100 km = \frac{235,21}{x\ mpg}
$$

### 5) Vytvořte sloupcový graf, který zobrazí průměrnou spotřebu v L/100 km podle počtu válců (cylinders)

### 6) Vytvořte sloupcový graf, který zobrazí průměrnou spotřebu v L/100 km podle počtu válců (cylinders) a země původu (origin)

### 7) Vytvořte 3 bodové grafy (scatter plot), které vedle sebe zobrazí průměrnou spotřebu v L/100km podle země původu (origin)

### 8) Který výrobce (manufacturer) měl v každém roce (model_year) průměrně nejvýkonější (horsepower) automobil?

- Vytvořte čárový graf. Pro jednotlivé body použijte značku (marker) čtverec (square). 
- Pouze pro tyto 3 výrobce: Ford, Toyota, Peugeot
- Pro výrobce použijte následující barvy:
    - Ford = modrá barva
    - Toyota = červená
    - Peugeot = zelená

### 9) Předchozí vizualizace zobrazte ve 3 grafech vedle sebe. Rozdělte podle výrobce.

### 10) Vytvořte histogram, který zobrazí váhu (weight). Jaká je nejčastější váha automobilu?

### 11) Uložte předchozí vizualizaci do PDF

### 12) Notebook s řešením zašlete na kurzy@lovelydata.cz

In [4]:
%load_ext watermark
# python, ipython, packages and machine characteristics
%watermark -v -m -p wget,pandas,numpy,geopy,altair,vega,vega_datasets,watermark
# date
print (" ")
%watermark -u -n -t -z

Python implementation: CPython
Python version       : 3.8.3
IPython version      : 7.16.1

wget         : not installed
pandas       : 1.0.5
numpy        : 1.18.5
geopy        : not installed
altair       : not installed
vega         : not installed
vega_datasets: not installed
watermark    : 2.1.0

Compiler    : MSC v.1916 64 bit (AMD64)
OS          : Windows
Release     : 10
Machine     : AMD64
Processor   : AMD64 Family 23 Model 113 Stepping 0, AuthenticAMD
CPU cores   : 16
Architecture: 64bit


Last updated: Tue Dec 22 2020 22:34:06Central Europe Standard Time